@model Pet911Website.ViewModels.ClientViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.FacebookLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FacebookLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.InstagramLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.InstagramLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @Model.Client.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    @{
        Html.RenderPartial("~/Views/Pets/Index.cshtml", Model.Pets);
    }
</div>
