@model Pet911Website.ViewModels.AnimalKindViewModel

<h2>Breeds</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Breeds", new { animalid = Model.AnimalKind.Id }, null)
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Breeds)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Breeds", new { id = item.Id, animalid = Model.AnimalKind.Id }, null) |
                @*@Html.ActionLink("Details", "Details", "Breeds", new { id = item.Id, animalid = Model.AnimalKind.Id }, null) |*@
                @Html.ActionLink("Delete", "Delete", "Breeds", new { id = item.Id, animalid = Model.AnimalKind.Id }, null)
            </td>
        </tr>
    }

</table>
